canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.2em;
  color: #f7f7f7;
  font-size: 5em;
}

body {
  background-color: #0c0c0c;
}